/*
 * Copyright (c) 2023 Geoff Simmons <geoff@simmons.de>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 * See LICENSE
 */

:root {
    --pear: rgb(209, 226, 49);
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}

input[type="color"] {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

input[type="number"] {
    width: 7ch;
}

button {
    font-size: large;
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.glbl-range {
    display: inline-block;
    text-align: center;
}

.fx-btn, .pal-btn {
    width: 16em;
}

.ps-btn {
    width: 14em;
}

.ql-btn {
    width: 2em;
    border-radius: 50%;
}

.ps-collapse-btn {
    width: 1em;
    border-radius: 50%;
}

.ps-btn-id {
    float: left;
    font-size: small;
}

.hilite {
    background-color: var(--pear);
}

.segment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.segment-row {
    grid-column: span 3;
}

.ps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.ps-template, .ql-template, .ps-collapsed {
    display: none;
}

.ps-row {
    grid-column: span 1;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}
