/**
 * Copyright (c) 2023 Geoff Simmons <geoff@simmons.de>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 * See LICENSE
 */

#include <stdint.h>
#include <stddef.h>

#define PAL_DYN_RANDOM   (1)
#define PAL_DYN_COLOR1   (2)
#define PAL_DYN_COLOR12  (3)
#define PAL_DYN_COL_GRAD (4)
#define PAL_DYN_COL_ONLY (5)

struct pal_anchors {
	const uint8_t nanx;
	const uint8_t anchor[];
};

struct pal_colors {
	const uint32_t first;
	const uint32_t color[];
};

struct palette {
	const struct pal_anchors * const anx;
	const struct pal_colors * const colors;
};

{% for p in palettes -%}
{%- if 'colors' in p -%}
static const struct pal_anchors {{ p.mangle }}_anx = {
	.nanx	= {{ p.colors | length }},
	.anchor = {
		{% for c in p.colors %}{{ c.anchor }},{% endfor %}
	},
};

static const struct pal_colors {{ p.mangle }}_colors = {
	.first = {{ p.colors[0].grbw32 }},
	.color = {
		{% for c in p.colors[1:] %}{{ c.grbw32 }},
		{% endfor %}
	},
};

static const struct palette {{ p.mangle }}_pal = {
	.anx	= &{{ p.mangle }}_anx,
	.colors	= &{{ p.mangle }}_colors,
};
{% endif %}
{% endfor %}

static const struct palette * const palettes[] = {
	{% for p in palettes -%}
	{% if 'colors' in p %}&{{ p.mangle }}_pal,
	{%- else %}NULL,{% endif %}
	{% endfor %}
};
